# ==========================
# Dataset
# ==========================
data/
datasets/

# ==========================
# Training outputs
# ==========================
checkpoints/
weights/
outputs/
logs/
runs/

# ==========================
# Model weights
# ==========================
*.pth
*.pt
*.ckpt
*.onnx
*.engine

# ==========================
# Archives
# ==========================
*.zip
*.7z
*.rar
*.tar
*.tar.gz

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Log files
# ==========================
*.log

.workbuddy

技术报告初版.docx
M3F-DETR_审查报告.docx